.conteudo-principal-sobre{
    font-family: 'Sarala', sans-serif;
font-size: 18px;
    font-weight: 400;   
}
.conteudo-principal-sobre{
    margin-left: 20px;
    margin-right: 250px;
}

.minha-img{
    height: 400px;
    left: 400x;
    border-radius: 10%;
}