.conteudo-principal-sobre{
    font-family: 'Sarala', sans-serif;
font-size: 18px;
    font-weight: 400px;  }
.conteudo-principal-sobre{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 0px;

}

.minha-img{
    height: 500px;
    border-radius: 10%;
    margin: 30px;
}
.sobre-texto{
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 400;    
margin-top: 20px;
margin-left: 20px;
border-radius: 5px;
}
#conteudo-principal-titulo{
    font-size: 40px;
    font-weight: 400; 
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
}
.conteudo-principal-subtitulo{
    font-weight: 400; 
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
}
.sobre-texto-3{
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 400;    
margin-top: 20px;
margin-left: 20px;
border-radius: 5px;
margin-bottom: 30px;
}
.minha-img{
    border-bottom: 8px solid rgb(6, 149, 231);
    border-top: 8px solid rgb(250, 102, 146);
    border-right: 8px solid rgb(245, 245, 69);
    border-left: 8px solid rgb(245, 245, 69); ;
}